@keyframes kitty-jump {
    0% {
        background-image: url(../../images/kikky-jump/frame0000.png);
     }
     2% {
        background-image: url(../../images/kikky-jump/frame0001.png);
     }
     4% {
        background-image: url(../../images/kikky-jump/frame0002.png);
     }
     5% {
        background-image: url(../../images/kikky-jump/frame0003.png);
     }
     7% {
        background-image: url(../../images/kikky-jump/frame0004.png);
     }
     9% {
        background-image: url(../../images/kikky-jump/frame0005.png);
     }
     11% {
        background-image: url(../../images/kikky-jump/frame0006.png);
     }
     12% {
        background-image: url(../../images/kikky-jump/frame0007.png);
     }
     14% {
        background-image: url(../../images/kikky-jump/frame0008.png);
     }
     16% {
        background-image: url(../../images/kikky-jump/frame0009.png);
     }
     18% {
        background-image: url(../../images/kikky-jump/frame0010.png);
     }
     20% {
        background-image: url(../../images/kikky-jump/frame0011.png);
     }
     21% {
        background-image: url(../../images/kikky-jump/frame0012.png);
     }
     23% {
        background-image: url(../../images/kikky-jump/frame0013.png);
     }
     25% {
        background-image: url(../../images/kikky-jump/frame0014.png);
     }
     27% {
        background-image: url(../../images/kikky-jump/frame0015.png);
     }
     29% {
        background-image: url(../../images/kikky-jump/frame0016.png);
     }
     30% {
        background-image: url(../../images/kikky-jump/frame0017.png);
     }
     32% {
        background-image: url(../../images/kikky-jump/frame0018.png);
     }
     34% {
        background-image: url(../../images/kikky-jump/frame0019.png);
     }
     36% {
        background-image: url(../../images/kikky-jump/frame0020.png);
     }
     38% {
        background-image: url(../../images/kikky-jump/frame0021.png);
     }
     39% {
        background-image: url(../../images/kikky-jump/frame0022.png);
     }
     41% {
        background-image: url(../../images/kikky-jump/frame0023.png);
     }
     43% {
        background-image: url(../../images/kikky-jump/frame0024.png);
     }
     45% {
        background-image: url(../../images/kikky-jump/frame0025.png);
     }
     46% {
        background-image: url(../../images/kikky-jump/frame0026.png);
     }
     48% {
        background-image: url(../../images/kikky-jump/frame0027.png);
     }
     50% {
        background-image: url(../../images/kikky-jump/frame0028.png);
     }
     52% {
        background-image: url(../../images/kikky-jump/frame0029.png);
     }
     54% {
        background-image: url(../../images/kikky-jump/frame0030.png);
     }
     55% {
        background-image: url(../../images/kikky-jump/frame0031.png);
     }
     57% {
        background-image: url(../../images/kikky-jump/frame0032.png);
     }
     59% {
        background-image: url(../../images/kikky-jump/frame0033.png);
     }
     61% {
        background-image: url(../../images/kikky-jump/frame0034.png);
     }
     62% {
        background-image: url(../../images/kikky-jump/frame0035.png);
     }
     64% {
        background-image: url(../../images/kikky-jump/frame0036.png);
     }
     66% {
        background-image: url(../../images/kikky-jump/frame0037.png);
     }
     68% {
        background-image: url(../../images/kikky-jump/frame0038.png);
     }
     70% {
        background-image: url(../../images/kikky-jump/frame0039.png);
     }
     71% {
        background-image: url(../../images/kikky-jump/frame0040.png);
     }
     73% {
        background-image: url(../../images/kikky-jump/frame0041.png);
     }
     75% {
        background-image: url(../../images/kikky-jump/frame0042.png);
     }
     77% {
        background-image: url(../../images/kikky-jump/frame0043.png);
     }
     79% {
        background-image: url(../../images/kikky-jump/frame0044.png);
     }
     80% {
        background-image: url(../../images/kikky-jump/frame0045.png);
     }
     82% {
        background-image: url(../../images/kikky-jump/frame0046.png);
     }
     84% {
        background-image: url(../../images/kikky-jump/frame0047.png);
     }
     86% {
        background-image: url(../../images/kikky-jump/frame0048.png);
     }
     88% {
        background-image: url(../../images/kikky-jump/frame0049.png);
     }
     89% {
        background-image: url(../../images/kikky-jump/frame0050.png);
     }
     91% {
        background-image: url(../../images/kikky-jump/frame0051.png);
     }
     93% {
        background-image: url(../../images/kikky-jump/frame0052.png);
     }
     95% {
        background-image: url(../../images/kikky-jump/frame0053.png);
     }
     96% {
        background-image: url(../../images/kikky-jump/frame0054.png);
     }
     98% {
        background-image: url(../../images/kikky-jump/frame0055.png);
     }
     100% {
        background-image: url(../../images/kikky-jump/frame0056.png);
     }
}

@keyframes kitty-idle {
    0% {
        background-image: url(../../images/kikky-idle/frame0000.png);
     }
     6% {
        background-image: url(../../images/kikky-idle/frame0001.png);
     }
     12% {
        background-image: url(../../images/kikky-idle/frame0002.png);
     }
     18% {
        background-image: url(../../images/kikky-idle/frame0003.png);
     }
     24% {
        background-image: url(../../images/kikky-idle/frame0004.png);
     }
     29% {
        background-image: url(../../images/kikky-idle/frame0005.png);
     }
     35% {
        background-image: url(../../images/kikky-idle/frame0006.png);
     }
     41% {
        background-image: url(../../images/kikky-idle/frame0007.png);
     }
     47% {
        background-image: url(../../images/kikky-idle/frame0008.png);
     }
     53% {
        background-image: url(../../images/kikky-idle/frame0009.png);
     }
     59% {
        background-image: url(../../images/kikky-idle/frame0010.png);
     }
     65% {
        background-image: url(../../images/kikky-idle/frame0011.png);
     }
     71% {
        background-image: url(../../images/kikky-idle/frame0012.png);
     }
     76% {
        background-image: url(../../images/kikky-idle/frame0013.png);
     }
     82% {
        background-image: url(../../images/kikky-idle/frame0014.png);
     }
     88% {
        background-image: url(../../images/kikky-idle/frame0015.png);
     }
     94% {
        background-image: url(../../images/kikky-idle/frame0016.png);
     }
     100% {
        background-image: url(../../images/kikky-idle/frame0017.png);
     }
}