@import url(./keyframes.scss);

header {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: #FFF5BA;
    background-image: url(../../images/landing-ornament.svg);
}

.title {
    width: 70%;
    margin-top: 22.5vh;

    &__text {
        font-size: 2.5rem;
        font-family: 'Alef', sans-serif;
    }

    &__caption {
        font-family: 'Amethysta', sans-serif;
    }
}

.go-down {
    margin-top: 15.1vh;
    width: 3.65rem;
    height: 3.65rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px rgba(181.69, 163.58, 156.71, 0.50) solid;
    border-radius: 999rem;

    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);

    & > span {
        color: rgba(194, 163, 127, 0.50);
        font-size: 1.5rem;
        font-family: Alef;
        font-weight: 400;
        word-wrap: break-word;

        margin-bottom: .35rem;
        margin-left: .11rem;
    }
}

.kikky {
    width: 100vw;
    height: 100vh;

    position: absolute;

    animation-name: kitty-idle;
    animation-duration: 1.40s;
    animation-iteration-count: 20;

    background-size: 100vw 100vh;
}

article {
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: #FFF5BA;
}

.article__title {
    text-align: center;
    font-size: 2.10rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;

    transform: translate(0, 39vh); 
    z-index: 1000;
}


.content {
    width: 75vw;
    height: 45vw;

    border: transparent 1px solid;
    border-radius: 10px;
    background-color: #FFD4E5;

    transform: translate(0, 41vh); 
    z-index: 1000;
    
    display: flex;
    justify-content: center;
    

    &__text {
        height: 90%;
        width: 90%;
        text-align: center;
        font-size: 1.20rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
        letter-spacing: -0.05rem;
        margin-top: 5vh;
    }
}

#article_1 {
    background-image: url(../../images/landing-ornament3.svg);
    background-size: 100vw 100vh;

    z-index: 1000;
}

#article_2 {
    background-image: url(../../images/article2.svg);
    background-size: 100vw 100vh;

    z-index: 1000;
}
